[Unit]
Description=IDHA
After=network.target

[Service]
#PrivateTmp=true
#Type=forking
#PIDFile=/var/run/openvpn/%i.pid
ExecStart=/usr/bin/python /usr/local/idha/main.py

[Install]
WantedBy=multi-user.target
